<div class="movie-container">
    <div class="movie-poster-container">
        <img class="movie-poster" src="{{ 'https://image.tmdb.org/t/p/w500/' ~ movie.poster_path }}">
    </div>
    <div class="movie-details">
        <div class="movie-title"><b>{{ movie.title }}</b> ({{ movie.release_date }})</div>
        <div class="movie-runtime"><b>{{ movie.runtime }} minutes</b></div>
        <div class="movie-country">{{ movie.production_countries|join(', ', attribute='iso_3166_1') }}</div>
        <!-- <div class="movie-genre">{{ movie.genres.name }}</div> -->
        <div class="movie-plot">{{ movie.overview }}</div>
        <div class="inline-flex-container">
            <div class="movie-popularity">Popularity: {{ movie.popularity|round(1, 'floor') }}</div>
            <div class="movie-score">Score: {{ movie.vote_average|round(1, 'floor') }}</div>
        </div>
    </div>
</div>
