<div class="movie-container">
    <div class="movie-poster-container">
        <img class="movie-poster" src="{{ movie.Poster }}">
    </div>
    <div class="movie-details">
        <div class="movie-title"><b>{{ movie.Title }}</b> ({{ movie.Year }})</div>
        <div class="movie-runtime"><b>{{ movie.Runtime }}</b></div>
        <div class="movie-country">{{ movie.Country }}</div>
        <div class="movie-genre">{{ movie.Genre }}</div>
        <div class="movie-plot">{{ movie.Plot }}</div>
    </div>
</div>
